
@{
    ViewData["Title"] = "Index";
}
@model Sol_AntiForfgery.Models.UserModel

<h1>Index</h1>

<form asp-controller="Demo" asp-action="OnSubmit" asp-antiforgery="true">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="txtFullName">Full Name</label>
                    <input id="txtFullName" type="text" asp-for="FullName" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input id="btnSubmit" type="submit" class="btn btn-primary" value="Submit" />
            </div>
            
        </div>
    </div>
</form>

